body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0 10px;
    /* Add padding to prevent content from touching the screen edges */
}

.container {
    margin-bottom: 20px;
}

#output,
input,
select {
    /* Ensure input, select, and textarea elements do not cause overflow */
    width: 100%;
    /* This ensures they don't exceed their container's width */
    max-width: 100%;
    /* Prevents them from causing overflow */
    box-sizing: border-box;
    /* Includes padding and border in the element's total width and height */
}

@media (max-width: 768px) {

    /* Adjust styles for smaller screens */
    body {
        margin: 10px;
        /* Reduce margin on smaller screens */
        padding: 0 5px;
        /* Adjust padding */
    }

    .container,
    #output,
    input,
    select {
        margin-top: 5px;
        /* Adjust spacing */
        margin-bottom: 10px;
        /* Adjust spacing */
    }
}

.main-container {
    max-width: 800px;
    /* Adjust this value based on your design needs */
    margin: 0 auto;
    /* Centers the container */
    padding: 20px;
    /* Adds some padding inside the container */
}

textarea {
    height: 200px;
    /* Adjust the height as needed */
}

.button-container {
    display: flex;
    justify-content: center;
    /* Horizontally centers the button */
    align-items: center;
    /* Vertically centers the button, if needed */
    /* Add any additional styling for the container here */
}

/* Existing styles */
